{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
<div class="alert alert-success text-center" role="alert">
    <h4 class="alert-heading">Thank you for your order!</h4>
    <p>Your order has been successfully placed. We will process it shortly.</p>
</div>
{% endblock %}